*.after
*.before
*.cache/
*.debhelper
*.debhelper/
*.deps
*.in
*.log
*.out
*.status
*~

debian/*.substvars
debian/*build-stamp
debian/files
debian/gpioctrl/
stamp*

depcomp
install-sh
missing

*.img
*.swp
*.txt
*.xz
tmp
